@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.aspect-default {
	aspect-ratio: 5/3 !important;
}

.vs-winner {
	animation: tada 2500ms ease;
	@apply divide-indigo-600 border-indigo-600 !bg-indigo-900;
}

.vs-winner img {
	@apply border border-indigo-600;
}

.vs-loser {
	animation: zoomOut 1000ms ease;
	@apply divide-gray-900 border-gray-900 !bg-black;
}

div.relative:has(input[type='text']) > span {
	@apply pointer-events-auto px-[2px];
}

@keyframes tada {
	0% {
		transform: scale(1);
	}
	10%,
	20% {
		transform: scale(1.01) rotate(-1deg);
	}
	30%,
	50%,
	70%,
	90% {
		transform: scale(1.01) rotate(1deg);
	}
	40%,
	60%,
	80% {
		transform: scale(1.01) rotate(-1deg);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes zoomOut {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(0);
		opacity: 0;
	}
}

html,
body,
#__nuxt {
	font-family: 'Poppins', sans-serif;
	@apply h-full bg-gray-950 text-gray-400;
}
